<!DOCTYPE html>
<html lang="pt-br">
    <link rel="stylesheet" href="../../estilos/cabecalho.css">
    <link rel="stylesheet" href="../../estilos/images.css">
    <link rel="stylesheet" href="../../estilos/estilos.css">
    <link rel="stylesheet" href="../../estilos/cadastro.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Médico</title>
    <style>
        @font-face {
            font-family: 'anticslab';
            src: url(../fontes/AnticSlab-Regular.ttf)
            format('truetype');
        }
    </style>
</head>
<body id="backImage">
    <div id="blocoCad">
        <div id="blocoPosCad">
            <p id="test">Dados para cadastro do Médico</p>
            <form action="/ProjetoSPMED_Final/PROJETO-FINAL/ProjFigma-main/public/medico/save" method="post">
                <div>
                    <input id="inpCad" type="text" name="nome" naplaceholder="Nome">
                    <input id="inpCad" type="text" name="cpf" placeholder="CPF">
                    <input id="inpCad" type="date" name="data_nascimento" placeholder="Data de nascimento">
                </div>
                <div>
                    <select name="sexo" id="inpCadlist">
                        <option value="Sexo">Sexo</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Outro">Outro</option>
                    </select>
                    <select name="etnia" id="inpCadlist">
                        <option value="Etnia">Etnia</option>
                        <option value="Preto">Preto</option>
                        <option value="Branco">Branco</option>
                        <option value="Pardo">Pardo</option>
                        <option value="Amerelo">Amarelo</option>
                        <option value="Indigena">Indígena</option>
                    </select>
                    <select name="pais" id="inpCadlist">
                        <option value="Pais">País</option>
                        <option value="Brasil">Brasil</option>
                        <option value="Estados Unidos">Estados Unidos</option>
                        <option value="Outros">Outro</option>
                    </select>
                </div>
                <div>
                    <select name="unidade" id="inpCadlist">
                        <option value="Unidade">Unidade</option>
                        <option value="UN1-São Paulo">UN1-São Paulo</option>
                        <option value="UN2-Rio de Janeiro">UN2-Rio de Janeiro</option>
                        <option value="UN3-Acre">UN3-Acre</option>
                    </select>
                    <input id="inpCad" type="text" name="crm" placeholder="CRM">
                    <input id="inpCad" type="text" name="email_sp_mecical_group" placeholder="E-mail SP Mecical Group">
                </div>
                <div>
                    <input id="inpCad" type="text" name="email" placeholder="E-mail">
                    <input id="inpCad" type="text" name="telefone" placeholder="Telefone">
                    <a href=""></a><input type="submit" id="botCad" value="Cadastrar"></a>
                </div>
            </form>
            <div id="divBaixo">
                <h4 id="testAdm">Para cadastro de Administrador <a id="decorBot" href="../administrador/cadastroAdm.html"> Clique aqui</a></h4>
                <h4 id="testMed">Para cadastro de Paciente<a id="decorBot" href="../paciente/cadastroPaci.html"> Clique aqui</a></h4>
                <h4 id="testLog">Já tem conta?<a id="decorBot" href="../login.html"> Clique aqui</a></h4>
            </div>
        </div>
    </div>
    <footer>
    </footer>
</body>
</html>