<!DOCTYPE html>
<html lang="pt-br">
    <link rel="stylesheet" href="/ProjetoSPMED_Final/PROJETO-FINAL/ProjFigma-main/views/estilos/cabecalho.css">
    <link rel="stylesheet" href="/ProjetoSPMED_Final/PROJETO-FINAL/ProjFigma-main/views/estilos/images.css">
    <link rel="stylesheet" href="/ProjetoSPMED_Final/PROJETO-FINAL/ProjFigma-main/views/estilos/estilos.css">
    <link rel="stylesheet" href="/ProjetoSPMED_Final/PROJETO-FINAL/ProjFigma-main/views/estilos/cadastro.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Administrador</title>
    <style>
        @font-face {
            font-family: 'anticslab';
            src: url(../fontes/AnticSlab-Regular.ttf)
            format('truetype');
        }
    </style>
</head>
<body id="backImage">
    <div id="blocoCad">
        <div id="blocoPosCad">
            <p id="test">Dados para cadastro do Administrador</p>
            <form action="/ProjetoSPMED_Final/PROJETO-FINAL/ProjFigma-main/public/admin/save" method="post">
                <div>
                    <input id="inpCad" type="text" name="nome" placeholder="Nome">
                    <input id="inpCad" type="text" name="cpf" placeholder="CPF">
                    <input id="inpCad" type="date" name="data_nascimento" placeholder="Data de nascimento">
                </div>
                <div>
                    <select id="inpCadlist" name="sexo">
                        <option value="Sexo">Sexo</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Outro">Outro</option>
                    </select>
                    <select name="etnia" id="inpCadlist">
                        <option value="Etnia">Etnia</option>
                        <option value="Preto">Preto</option>
                        <option value="Branco">Branco</option>
                        <option value="Pardo">Pardo</option>
                        <option value="Amarelo">Amarelo</option>
                        <option value="Indigena">Indígena</option>
                    </select>
                    <select name="pais" id="inpCadlist">
                        <option value="Pais">País</option>
                        <option value="Brasil">Brasil</option>
                        <option value="Estados Unidos">Estados Unidos</option>
                        <option value="Outros">Outro</option>
                    </select>
                </div>
                <div><select name="area_atuacao" id="inpCadlist">
                        <option value="area_de_atuacao">Área de Atuação</option>
                        <option value="TI">TI</option>
                        <option value="RH">RH</option>
                        <option value="Developer">Developer</option>
                    </select>
                    <input id="inpCad" type="text" name="rg" placeholder="RG">
                    <input id="inpCad" type="text" name="email_sp_mecical_group" placeholder="E-mail SP Mecical Group">
                </div>
                <div>
                    <input id="inpCad" type="text" name="email" placeholder="E-mail">
                    <input id="inpCad" type="text" name="telefone" placeholder="Telefone">
                    <a href="#"><button type="submit" id="botCad">CADASTRE-SE</button></a>
                </div>
                <div id="divBaixo">
                    <h4 id="testAdm">Para cadastro de Paciente <a id="decorBot" href="/ProjetoSPMED_Final/PROJETO-FINAL/ProjFigma-main/public/paciente/cadastro"> Clique aqui</a></h4>
                    <h4 id="testMed">Para cadastro de Médico <a id="decorBot" href="/ProjetoSPMED_Final/PROJETO-FINAL/ProjFigma-main/public/medico/cadastro"> Clique aqui</a></h4>
                    <h4 id="testLog">Já tem conta?<a id="decorBot" href="/ProjetoSPMED_Final/PROJETO-FINAL/ProjFigma-main/public/paciente/login"> Clique aqui</a></h4>
                </div>
            </form>
        </div>
    </div>
    <footer>
    </footer>
</body>
</html>