#blocoCad {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#inpCad {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e7e9;
    margin-top: 50px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 300px;
}
#inpCadlist {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #e6e7e9;
    margin-top: 50px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 310px;
}
input::placeholder {
    color: black;
}

#blocoPosCad {
    height: 480px;
    width: 980px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#botCad {
    position: absolute;
    margin-top: 50px;
    margin-left: 4px;
    color: white;
    background-color: rgb(0, 0, 171);
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#botCad:hover {
    background-color: rgb(0, 0, 133);
}
#botCad:active {
    background-color: rgb(0, 0, 78);
}
#test {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-bottom: -25px;
    font-size: 20px;
}
#testAdm {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    display: inline;
    margin-left: 20px;
    position: relative;
}
#testMed {
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    display: inline;
    margin-left: 15px;
    position: relative;
}
#testLog {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    display: inline;
    margin-left: 15px;
    position: relative;
}
#divBaixo {
    margin-top: 25px;
    width: 100%;
    text-align: center;
}
#decorBot {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#decorBot:hover {
    color: blue;
}
#textoInpCad {
    display: inline;
    margin-top: 80px;
    margin-bottom: -50px;
    color: white;
}
